* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.header {
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 2rem;
  background-color: #09f;
}

.footer {
  color: #777;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.container {
  margin-left: 20rem;
  margin-right: 20rem;
}

.container p {
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.btn {
  height: 4rem;
  width: 15rem;
  padding: .2rem;
  border-radius: 10rem;
  border: none;
  display: block;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.btn-startQuiz {
  background-color: #fff;
  border: .2rem solid #09f;
  color: #09f;
  transition: all 0.25s ease-in;
}

.btn-startQuiz:hover {
  color: #fff;
  background-color: #09f;
  transform: translateY(-.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn-submitQuiz {
  background-color: #fff;
  border: .2rem solid rgb(4, 136, 4);
  color: rgb(4, 136, 4);
  transition: all 0.25s ease-in;
  animation: moveUp 1 ease-out 1.5s;
}

.btn-submitQuiz:hover {
  color: #fff;
  background-color: rgb(4, 136, 4);
  transform: translateY(-.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);

}

.question {
  margin-bottom: 1rem;
  border-radius: 1rem;
}

#question1Set {
  animation: moveUp 1 ease-out 0.25s;
}

#question2Set {
  animation: moveUp 1 ease-out 0.5s;
}

#question3Set {
  animation: moveUp 1 ease-out 0.75s;
}

#question4Set {
  animation: moveUp 1 ease-out 1s;
}

#question5Set {
  animation: moveUp 1 ease-out 1.25s;
}

.question h4,
.question div,
.question span {
  margin: 0.5rem;
}

.question legend {
  margin-left: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.answerStatus {
  color: red;
  display: none;
}

#resultsP {
  text-align: center;
  margin: 2.5rem;
  text-transform: uppercase;
}

@keyframes moveUp {
  0% {
    transform: translateY(100rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateX(0);
  }
}